.future {
    padding: {
        top: 60px;
        bottom: 60px;
        left: 150px;
    };
    position: relative;
    h2 {
        color: $Verydarkblue;
        text-align: center;
        font-size: 32px;
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
    }
    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            flex: 1;
            > div:first-child {
                margin-bottom: 80px;
            }
            div {
                h3 {
                    color: $Verydarkblue;
                    font-size: 26px;
                    margin-bottom: 20px;
                }
                p {
                    line-height: 1.8;
                    color: $Verydarkblue;
                    width: 85%;
                    font-size: 16px;
                }
            }
        }
        .right {
            flex: 1;
            overflow: hidden;
            img {
                max-width: 140%;
            }
        }
    }
}

@media (max-width: 800px) {
    .future {
        width: 100%;
        margin: auto;
        padding: 60px 20px !important;
        h2 {
            position: static !important;
            transform: none;
            font-size: 26px;
            margin-bottom: 40px;
        }
        .info {
            flex-direction: column-reverse !important;
            .left {
                margin-top: 30px;
                > div:first-child {
                    margin-bottom: 50px;
                }
                div {
                    text-align: center;
                    p {
                        width: 100%;
                    }
                }
            }
            .right {
                img {
                    width: 100% !important;
                }
            }
        }
    }
}