* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables
// Primary Colors
$Lightred: hsl(356, 100%, 66%);
$VerylightRed: hsl(355, 100%, 74%);
$Verydarkblue: hsl(208, 49%, 24%);

// Neutral
$White: hsl(0, 0%, 100%);
$Grayishblue: hsl(240, 2%, 79%);
$Verydarkgrayishblue: hsl(207, 13%, 34%);
$footerBackground: hsl(240, 10%, 16%);

// Gradient

// Background gradient Intro/CTA mobile nav

$OneGredientRed: hsl(13, 100%, 72%);
$twoGradientRed: hsl(353, 100%, 62%);

// Background gradient (body)

$oneGredientBlue: hsl(237, 17%, 21%);
$twoGradientBlue: hsl(237, 23%, 32%);